
*
{
    padding:0;
    margin:0;
}

.header
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.logo
{
  width:200px
}

.nav-items
{
    padding: 0px 20px;

}
.nav-items > ul
{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items > ul > li, .nav-items > ul > a
{
    padding: 10px;
    margin: 10px;
}

.restro-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a
{
    text-decoration: none;

}
.restro-card
{
    width:200px;
    margin:5px;
    padding:5px;
    border: 1px solid red;
    z-index: auto;
    transition: transform 2s;
}

.restro-card:hover
{ 
    transform: scale(1.05);
    cursor:pointer;

}

.res-logo
{
    width:100%;
}

.search-container
{
    display: flex;
    justify-content: center;
    padding:10px;
    margin:5px;
}

.shimmer-card
{
    width:200px;
    height:180px;
    margin:5px;
    padding:5px;
    border: 1px solid red;

}    

@keyframes animate1
{
    from {background:grey}
    to {background:white}
}

.shimmer-logo, .shimmer-name, .shimmer-stars, .shimmer-avgrate, .shimmer-deliverytime
{
    
    animation-name: animate1;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

.login-logout
{
    height:40px;
    width:70px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    border: 1px solid grey;
}